<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test-Suite" >
	<listeners>
		<listener class-name="Utility.ListenerTest" />
	</listeners>
   <test name="MyTests" >
       <classes> 
          <class name="com.test.RegistrationTest" />
          <class name="com.test.ReservationTest" />
       </classes>
   </test>
 </suite>